# Cache Backend
CACHE_BACKEND=valkey
CACHE_URL=redis://valkey:6379

# Logging Backend
LOG_BACKEND=console          # Cambiar a: kafka | elasticsearch
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=app-logs
ES_HOSTS=http://elasticsearch:9200

# App
UVICORN_WORKERS=2
PYTHONPATH=/app